.lead__subtitle {
  max-width: 600px;
  padding-top: 38px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
}

@media screen and (max-width: 1100px) {
  .lead__subtitle {
    padding-top: 32px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 288px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    padding-top: 16px;
  }
}
