.header__lang {
  display: flex;
  column-gap: 18px;
}

.header__lang-link {
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  margin: 18px 0 0;
}

@media screen and (max-width: 330px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  } 
}

.header__lang-link-en {
  text-decoration: none;
}