@import url(./inter.css);

.page {
  background: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Inter";
}

.header {
  margin: 0;
  padding: 28px 48px 0;
  height: 52px;
  display: flex;
  justify-content: space-between;
  
}

@media screen and (max-width: 780px) {
  .header {
    padding: 28px 24px 0;
  } 
}

@media screen and (max-width: 330px) {
  .header {
    height: 42px;
    padding: 16px 16px 0;
  } 
}

.header__lang {
  display: flex;
  column-gap: 18px;

}

.header__lang-link {
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  margin: 18px 0 0;
}

.header__lang-link-en {
  text-decoration: none;
}

.lead {
  padding:0 148px ;
}

@media screen and (max-width: 1030px) {
  .lead {
    padding: 0 48px;
  } 
}

@media screen and (max-width: 780px) {
  .lead {
    padding: 0;
  } 
}

.lead__title {
  margin: 0 auto;
  padding-top: 4.5%;
  width: 700px;
  font-style: normal;
  font-weight: 900;
  font-size: 112px;
  line-height: 107px;
  position: relative;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  padding-top: 2.5%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
}

.lead__map-container {
  display: block;
}

.lead__image {
  display: block;
  margin: auto;
  padding-top: 6%;
  max-width: 100%;
}

.lead__caption {
  margin-top: 8px;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  padding: 92px 442px 0 148px;
}

@media screen and (max-width: 1030px) {
  .intro {
    padding: 92px 286px 0 48px;
  } 
}

@media screen and (max-width: 780px) {
  .intro {
    padding: 88px 24px;
  } 
}

@media screen and (max-width: 330px) {
  .intro {
    padding: 64px 16px;
  } 
}

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 61px;
  line-height: 33px;
  margin: 0;
}

.intro__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  margin-top: 40px;
}

.intro__item {
  margin: 0;
  padding: 0;
  width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  list-style-type: none;
}

.photo-grid {
  margin: 92px auto 0;
  max-width: 1280px;
  padding: 0 48px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  
}

@media screen and (max-width: 780px) {
  .photo-grid {
    padding: 0 24px;
  } 
}

@media screen and (max-width: 330px) {
  .photo-grid {
    padding: 0 16px;
  } 
}

.places {
  margin: 0;
  padding: 0 148px;
}

@media screen and (max-width: 1030px) {
  .places {
    padding: 0 48px;
  } 
}

@media screen and (max-width: 780px) {
  .places {
    padding: 0 24px;
  } 
}

@media screen and (max-width: 330px) {
  .places {
    padding: 0;
  } 
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  position: relative;
  list-style-type: none;
  gap: 48px 40px;
  padding-top: 80px;
}


.place__title {
  margin: 0;
  width: 460px;
  line-height: 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  align-self: end;
}

.place__website__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__website__link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 1;
  transition: 0.5s linear;
}

.place__website__link:hover {
  opacity: 0.7;
}

.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 142%;
}


.cover {
  background-image: url(./image/__background.png);
  max-width: 1184px;
  margin: 92px 48px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 0;
}

.cover:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0, 0, 0, .3);
}

.cover:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1030px) {
  .cover {
    margin: 0;
  } 
}

.cover__title {
  margin: 0 auto;
  max-width: 540px;
  position: relative;
  font-weight: 900;
  font-size: 76px;
  line-height: 1;
  text-align: center;
  padding: 245px 0 0;
}

.cover__subtitle {
  margin: 0 auto;
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  max-width: 360px;
  padding: 32px 0 245px;
}

.cover__link {
  text-decoration: none;
  color: #FFFFFF;
}


.footer {
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  margin: auto 0;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 18px;
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 0 24px;
  } 
}

@media screen and (max-width: 330px) {
  .footer {
    
  } 
}