.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  padding-top: 40px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .intro__text {
    line-height: 163%;
  }
}
