.intro {
  padding: 92px 442px 92px 148px;
}

@media screen and (max-width: 1100px) {
  .intro {
    padding: 92px 286px 92px 48px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    padding: 64px 16px;
  }
}
